services:
  mysql:
    image: mysql:8
    container_name: erp-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: erp_db
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    image: cloveos/magic-integration:latest
    container_name: magic-integration
    restart: always
    depends_on:
      - mysql
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: erp_db
      PORT: 3000
    ports:
      - "3000:3000"

volumes:
  mysql_data: